.header {
    text-align: center;
    background-image: url("https://i.imgur.com/7tFsTbL.png");
}

.main {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.menu {
    display: flex;
    width: 100%;
    align-self: center;
}

.footer {
    text-align:center;
}

.donate {
    margin: 75px;
    align-self: center;
    background-color: #003050;
}

body {
    background: linear-gradient(to right,#72A0B7 50%, #DB3A49 0%);
}

.small {
    width: 400px;
    border: solid #FAE3AD 8px;
}

.picture {justify-content: space-between;}

button {
    display: block;
    margin: auto;
    font-size: 50px;
    background-color: #003050;
    color: #7096A0;
    border: solid #FAE3AD 8px;
}

h1 {
    color: #7096A0;
    font-size: 50px;
}
p { 
    font-size: 25px;
    color: #7096A0;
}